.App {
    text-align: center;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #F94449;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .body {
    background-color: #FFF;
    width: 628px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
  }
  
  .codemaster {
    height: 32px;
    width: 290px;
  }
  
  .signin {
    margin-top: 40px;
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-weight: 500;
    color: #101828;
  }
  
  .credential {
    margin-top: 10px;
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-weight: 500;
    color: #667085;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
  }
  
  .label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    color: #344054;
  }
  
  .input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border-width: 1px;
    border-color: #D0D5DD;
    margin-top: 5px;
    background-color: #FFF;
  }
  
  .submit {
    padding: 10px 18px;
    margin-top: 40px;
    justify-content: center;
    width: 548px;
    border-radius: 8px;
    background-color: #F94449;
    color: white;
    border-color: transparent;
  }
  
  .reset {
    color: #667085;
    text-align: center;
    font-family: montserrat;
    margin-top: 40px;
  }
  
  .link {
    color: #F94449;
  }

  .cardStudent {
    background-color: #2E90FA;
  }